- apt: update_cache=yes cache_valid_time=36000
  when: ansible_os_family == 'Debian'

# Fix /etc/hosts if necessary
- name: set hostname facts
  set_fact:
    full_hostname="{{ inventory_hostname}}"
    short_hostname="{{ inventory_hostname.split('.', 1)[0] }}"

- name: set hostname
  hostname:
    name={{ short_hostname }}

- name: add hostname to /etc/hosts
  lineinfile:
    dest=/etc/hosts
    line='127.0.1.1 {{ full_hostname }} {{ short_hostname }}'
    regexp='^127\.0\.1\.1'
    insertafter='^127\.0\.0\.1'
    state=present
# END Fix /etc/hosts if necessary


- include_vars: "{{ ansible_distribution }}-{{ ansible_distribution_version }}.yml"
- include: "{{ ansible_distribution }}-{{ ansible_distribution_version }}.yml"

- name: Check if daemon user is ldap
  shell: "getent passwd {{daemon_user}}"
  register: is_ldap_user
  failed_when: is_ldap_user.rc == 1
  changed_when: is_ldap_user.rc > 1

- user: generate_ssh_key="{{genkeys_daemon_user}}" home={{daemon_home}} name="{{daemon_user}}" shell=/bin/bash 
  when: is_ldap_user.rc == 2
  
- file: path="{{daemon_home}}" mode=0775 owner="{{daemon_user}}" group="{{daemon_home_grp}}" state=directory

- name: Set public_ip_address = floating_ip_address if defined
  set_fact: 
    public_ip_address: "{{floating_ipaddress}}"
  when: floating_ipaddress is defined

- name: Set public_ip_address = ansible_default_ipv4.address if NOT defined
  set_fact: 
    public_ip_address: "{{ansible_default_ipv4.address}}"
  when: floating_ipaddress is undefined


### Systemd stuff ###
- name: Check if systemd enabled
  stat:
    path: /run/systemd/system
  register: have_systemd

  # Install ecflow-server service for systemd 
- block:
    - template: src=etc/systemd/system/ecflow-server.service.j2 dest=/etc/systemd/system/ecflow-server.service owner=root group=root mode=0644
      register: service_file
    - shell: systemctl daemon-reload
      when: service_file.changed
  when:
    - have_systemd is defined
    - ecflowserver_version is defined
    
- service: name=ecflow-server state=started enabled=yes
  when:
    - have_systemd is defined
    - ecflowserver_version is defined


 # Install ecflow log server service for systemd 
- block:
    - template: src=etc/systemd/system/ecflow-logserver.service.j2 dest=/etc/systemd/system/ecflow-logserver.service owner=root group=root mode=0755
      register: service_file
    - shell: systemctl daemon-reload
      when: service_file.changed
  when:
    - have_systemd is defined
    - ecflowserver_version is defined

- service: name=ecflow-logserver state=started enabled=yes
  when:
    - have_systemd is defined
    - ecflowserver_version is defined